<div class="row">
    <div class="col-lg-6">
        <div local-class="recent-activities" class="card">
            <div class="card-header">
                <h3>
                    Experience
                </h3>
            </div>
            <div class="card-body no-padding" data-test-experience>
                {{#each experiences as |experience|}}
                    <div class="item my-4">
                        <div class="row">
                            <div class="col-3 text-right pt-4">
                                {{svg-jar
                                    experience.logoPath
                                    width='80px'
                                    height='80px'
                                    local-class='svg'
                                }}
                            </div>
                            <div class="col-9 content">
                                <div local-class="company-heading">
                                    {{experience.companyName}}
                                </div>
                                <div>
                                    {{experience.title}}
                                    <small>
                                        {{experience.date}}
                                    </small>
                                </div>
                                <p>
                                    {{experience.description}}
                                </p>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div local-class="recent-activities" class="card">
            <div class="card-header">
                <h3>
                    Education
                </h3>
            </div>
            <div class="card-body no-padding">
                {{#each educations as |education|}}
                    <div class="item">
                        <div class="row">
                            <div class="col-3 text-right pt-4">
                                {{svg-jar
                                    education.logoPath
                                    width='80px'
                                    height='80px'
                                    local-class='svg'
                                }}
                            </div>
                            <div class="col-9 content">
                                <h5>
                                    {{education.institution}}
                                </h5>
                                <p>
                                    {{education.date}}
                                </p>
                                {{#each education.achiviements as |achivement|}}
                                    <p>
                                        {{achivement}}
                                    </p>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>