<div class="container" local-class="large-container">
    <div class="row">
        <div class="col-lg-6">
            <div local-class="recent-activities" class="card">
                <div class="card-header text-center">
                    <h1 class="pt-2">
                        Experience
                    </h1>
                </div>
                <div class="card-body" data-test-experiences>
                    {{#each experiences as |experience|}}
                        <div class="my-4" local-class="item">
                            <div class="col">
                                <div
                                    class="col-12 row"
                                    local-class="img-and-company-info"
                                    data-test-experience
                                >
                                    <div
                                        class="col-xxl-1 col-xl-2 col-lg-3 col-md-2 col-sm-4 col-12"
                                        local-class="card-image-info-container"
                                    >
                                        {{svg-jar
                                            experience.logoPath
                                            width='100px'
                                            height='100px'
                                            local-class='svg'
                                        }}
                                    </div>
                                    <div>
                                        <div local-class="company-heading">
                                            {{experience.companyName}}
                                        </div>
                                        <div>
                                            {{experience.title}}
                                        </div>
                                        <div>
                                            {{experience.date}}
                                        </div>
                                        <div>
                                            <small>
                                                {{experience.location}}
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="col-12 mt-2"
                                    local-class="achievements"
                                >
                                    {{#each
                                        experience.achievements as |achievment|
                                    }}
                                        <p>
                                            •
                                            {{achievment}}
                                        </p>
                                    {{/each}}
                                    {{#if experience.viewAbleContent}}
                                        <div class="text-center">
                                            <a
                                                class="btn btn-info"
                                                target="_blank"
                                                href={{experience.viewAbleContentLink
                                                }}
                                                rel="noopener"
                                                role="button"
                                            >
                                                {{experience.viewAbleContent}}
                                            </a>
                                        </div>
                                    {{/if}}
                                    <div class="my-2">
                                        {{#each experience.tech as |skill|}}
                                            <button
                                                type="button"
                                                class="btn btn-light btn-sm"
                                            >
                                                {{skill}}
                                            </button>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
                <div class="text-center my-3">
                    <a
                        class="btn btn-outline-dark btn-lg"
                        href="./files/Nathan_Patnam_Resume_SWE_Word.pdf"
                        role="button"
                        rel="noopener"
                        target="_blank"
                    >
                        View and Download Resume
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div local-class="recent-activities" class="card">
                <div class="card-header text-center">
                    <h1 class="pt-2">
                        Education
                    </h1>
                </div>
                <div class="card-body no-padding">
                    {{#each educations as |education|}}
                        <div class="my-4" local-class="item">
                            <div class="row">
                                <div class="col-3 text-right pt-4">
                                    {{#if education.isLogoSVG}}
                                        {{svg-jar
                                            education.logoPath
                                            width='100px'
                                            height='100px'
                                            local-class='svg'
                                        }}
                                    {{else}}
                                        <img
                                            src={{education.logoPath}}
                                            alt={{education.imageAltDescription
                                            }}
                                            style="height: 100px; width: 100px;"
                                         />

                                    {{/if}}
                                </div>
                                <div class="col-9 pt-4">
                                    <div local-class="company-heading">
                                        {{education.institution}}
                                    </div>
                                    <div>
                                        <small>
                                            {{education.date}}
                                        </small>
                                    </div>
                                    {{#each
                                        education.achiviements as |achivement|
                                    }}
                                        {{education-card-description
                                            achivement=achivement
                                        }}
                                    {{/each}}
                                    <div class="my-4">
                                        {{#each education.tags as |skill|}}
                                            <button
                                                type="button"
                                                class="btn btn-light btn-sm"
                                            >
                                                {{skill}}
                                            </button>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>