<div class="text-center">
    <h1>
        Follow Me On:
    </h1>
    <p>
        Icons brought by FavIcon
    </p>
</div>
<ul class="text-center" data-test-footer>
    <a
        href="https://github.com/Nathan-Patnam"
        class="pr-3"
        rel="noopener"
        target="_blank"
    >
        {{svg-jar 'github-logo' width='50px' height='50px'}}
    </a>
    <a
        href="https://www.youtube.com/user/vert373"
        class="px-3"
        rel="noopener"
        target="_blank"
    >
        {{svg-jar 'youtube-logo' width='50px' height='50px'}}
    </a>
    <a
        href="https://www.linkedin.com/in/nathan-patnam/"
        class="px-3"
        rel="noopener"
        target="_blank"
    >
        {{svg-jar 'linkedin-logo' width='50px' height='50px'}}
    </a>
    <a
        href="mailto:nathanpatnam@hotmail.com"
        class="px-3"
        rel="noopener"
        target="_blank"
    >
        {{svg-jar 'mail-logo' width='50px' height='50px'}}
    </a>
    <a
        href="./files/Nathan_Patnam_Resume_SWE_Word.pdf"
        class="pl-3"
        rel="noopener"
        target="_blank"
    >
        {{svg-jar 'resume-logo' width='50px' height='50px'}}
    </a>
    <a
        href="https://medium.com/@nathanpatnam"
        class="pl-3"
        rel="noopener"
        target="_blank"
    >
        {{svg-jar 'medium-logo' width='50px' height='50px'}}
    </a>
</ul>