<div class="col-lg-12">
    {{#each foo as |review|}}
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <img
                            src=""
                            class="img img-rounded img-fluid"
                            alt="animated person"
                         />

                        <p class="text-secondary text-center">
                            Tutored for
                            {{review.numberTutoringSession}}
                            sesions
                        </p>
                    </div>
                    <div class="col-md-10">
                        <h4>
                            <strong>
                                {{review.name}}
                            </strong>
                        </h4>
                        <p>
                            <strong>
                                {{review.tagLine}}
                            </strong>
                        </p>
                        <div class="clearfix"></div>
                        <p>
                            {{review.review}}
                        </p>
                        <p>
                            <a
                                class="float-right btn btn-outline-primary ml-2"
                                href={{review.viewLink}}
                                rel="noopener"
                                target="_blank"
                            >
                                <i class="fa fa-reply"></i>
                                View
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>