<h1 class="display-4">
    Testmonials
</h1>
<div class="row">
    {{#each pagedContent as |review|}}
        <div class="col-lg-6 d-flex align-items-stretch">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-2 col-lg-4 col-md-2">
                            <img
                                src={{review.avatarLink}}
                                class="img img-fluid rounded-circle"
                                alt="animated person"
                             />

                            <p class="text-secondary text-center">
                                Tutored for
                                {{review.numberTutoringSession}}
                                sesions
                            </p>
                        </div>
                        <div class="col-xl-10 col-lg-8  col-md-10">
                            <h3>
                                {{review.name}}
                            </h3>
                            {{review.review}}
                            <a
                                class="float-right btn btn-outline-primary ml-2"
                                href={{review.viewLink}}
                                rel="noopener"
                                target="_blank"
                            >
                                <i class="fa fa-reply"></i>
                                Read Full Review
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
    <button type="button" class="btn btn-secondary" {{action 'loadNext'}}>
        View More Reviews
    </button>
</div>